<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- This <head> section is only used for static prototyping purposes. At runtime, -->
    <!-- Tiles will only use the body fragment defined with tiles:fragment="content",  --> 
    <!-- as specified at the corresponding views.xml file.                             -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <title>DOJO Spring Web Flow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
    <link rel="stylesheet" type="text/css" media="screen" 
          href="../../../styles/kayak.css" />
    
</head>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- START of the content to be included in the execution result.  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Only the markup inside this <body> would be required in this  -->
<!-- template if no static prototyping was intended.               -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<body tiles:fragment="content">
    
    
	<body>
		<div>
			<form method="post" th:action="${flowExecutionUrl}" th:object="${orderInfo}">
				<table>
					<tr>
						<td>Nom</td><td><input type="text" th:field="*{lastName}" /></td>
					</tr>
					<tr>
						<td>Pr&eacute;nom</td><td><input type="text" th:field="*{firstName}" /></td>
					</tr>
					<tr>
						<td>Adresse</td><td><input type="text" th:field="*{adress}" /></td>
					</tr>
				</table>
				<input type="submit" value="Valider" name="_eventId_continue"/>
   				<input type="submit" value="Annuler" name="_eventId_cancel"/>
			</form>
		</div>
	</body>    
    

</body>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- END of the content to be included in the execution result -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

</html>
