<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>

    <title>Kayak Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       
    <link rel="stylesheet" type="text/css" media="screen" 
          href="../../styles/kayak.css" 
          th:href="@{/resources/styles/kayak.css}" />

    
</head>


<body class="tundra">

<div id="page" class="container">

    <div id="header">       
        <div id="logo">
            <p>
                 <img src="../../images/header.jpg" th:src="@{/resources/images/header.jpg}" alt="Kayak Shop" />
            </p>
        </div>
    </div>
    
    <div id="content">
        <div id="main" tiles:include="body">

          <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->      
          <!-- At runtime, the body of this <div> will be substituted by -->
          <!-- Tiles in order to create the final HTML page that will be -->
          <!-- sent to the browser.                                      -->
          <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->      
          
          BODY PAGE GOES HERE!
          
        </div>
    </div>
       
    
</div>
</body>
</html>